# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environments
venv/
venv310/
.env

# Python cache
__pycache__/
*.pyc
*.pyd

# Libraries
*.dll
*.lib

# Models
*.h5
*.hdf5
*.keras
*.ckpt
*.pb
saved_model/

# Logs
logs/

# Jupyter
.ipynb_checkpoints/